In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
incomes = pd.read_csv("../../data/curated/income_by_sa2.csv")
population = pd.read_csv("../../data/curated/population_by_sa2.csv")
properties = pd.read_csv("../../data/curated/AllProperties.csv")

In [3]:
properties['Suburb'] = properties['Suburb'].str.split('-')
properties = properties.explode('Suburb')
properties.rename(columns={'Suburb':'Label'}, inplace=True)
properties

,Label,2000 Mar Count,2000 Mar Median,2000 Jun Count,2000 Jun Median,2000 Sep Count,2000 Sep Median,2000 Dec Count,2000 Dec Median,2001 Mar Count,...,2022 Mar Count,2022 Mar Median,2022 Jun Count,2022 Jun Median,2022 Sep Count,2022 Sep Median,2022 Dec Count,2022 Dec Median,2023 Mar Count,2023 Mar Median
0,Albert Park,1143,260,1134,260,1177,270,1178,275,1208,...,867,500,855,515,881,500,832,525,786,545
0,Middle Park,1143,260,1134,260,1177,270,1178,275,1208,...,867,500,855,515,881,500,832,525,786,545
0,West St Kilda,1143,260,1134,260,1177,270,1178,275,1208,...,867,500,855,515,881,500,832,525,786,545
1,Armadale,733,200,737,200,738,205,739,210,718,...,805,430,851,450,852,450,840,460,751,490
2,Carlton North,864,260,814,260,799,265,736,270,718,...,581,580,535,595,547,600,546,600,490,620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,851,125,823,120,831,125,807,125,796,...,895,360,871,380,898,380,904,380,903,385
142,Wanagaratta,705,125,671,125,631,130,623,130,602,...,531,370,530,380,547,380,541,380,518,380
143,Warragul,385,130,367,135,382,135,366,135,365,...,522,400,512,400,515,420,523,430,497,440
144,Warrnambool,1266,130,1229,135,1204,135,1135,135,1069,...,854,400,844,400,870,420,859,420,867,420
145,Wodonga,1446,145,1439,145,1468,150,1449,150,1405,...,1233,380,1267,390,1251,400,1191,410,1173,410

In [4]:
# Drop unnecessary columns in the properties dataframe
property_columns = list(properties.columns)

cols_to_keep = []
cols_to_keep.append(property_columns[0])
cols_to_keep = cols_to_keep + property_columns[-58:-1]

properties = properties[cols_to_keep]
properties

,Label,2016 Mar Count,2016 Mar Median,2016 Jun Count,2016 Jun Median,2016 Sep Count,2016 Sep Median,2016 Dec Count,2016 Dec Median,2017 Mar Count,...,2021 Dec Median,2022 Mar Count,2022 Mar Median,2022 Jun Count,2022 Jun Median,2022 Sep Count,2022 Sep Median,2022 Dec Count,2022 Dec Median,2023 Mar Count
0,Albert Park,961,520,970,500,971,520,921,520,910,...,495,867,500,855,515,881,500,832,525,786
0,Middle Park,961,520,970,500,971,520,921,520,910,...,495,867,500,855,515,881,500,832,525,786
0,West St Kilda,961,520,970,500,971,520,921,520,910,...,495,867,500,855,515,881,500,832,525,786
1,Armadale,653,400,659,400,673,400,660,410,681,...,420,805,430,851,450,852,450,840,460,751
2,Carlton North,544,530,544,530,529,520,509,530,501,...,580,581,580,535,595,547,600,546,600,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,1119,270,1127,270,1122,270,1118,270,1129,...,360,895,360,871,380,898,380,904,380,903
142,Wanagaratta,761,260,740,260,734,260,719,260,717,...,360,531,370,530,380,547,380,541,380,518
143,Warragul,502,290,505,290,490,295,479,300,488,...,390,522,400,512,400,515,420,523,430,497
144,Warrnambool,1409,290,1422,290,1401,285,1406,290,1390,...,380,854,400,844,400,870,420,859,420,867
145,Wodonga,1560,290,1597,290,1629,290,1582,290,1541,...,370,1233,380,1267,390,1251,400,1191,410,1173

In [9]:
i = 1
while i < len(cols_to_keep)-8:
    avg_count = (properties[cols_to_keep[i]] + properties[cols_to_keep[i+2]] + properties[cols_to_keep[i+4]] + properties[cols_to_keep[i+6]]) / 4
    avg_median = (properties[cols_to_keep[i+1]] + properties[cols_to_keep[i+3]] + properties[cols_to_keep[i+5]] + properties[cols_to_keep[i+7]]) / 4

    print(f'Year {properties[cols_to_keep[i]]}')
    print(avg_count)
    print(avg_median)
    i += 8

Year 0       961
0       961
0       961
1       653
2       544
       ...
141    1119
142     761
143     502
144    1409
145    1560
Name: 2016 Mar Count, Length: 215, dtype: int64
0       955.75
0       955.75
0       955.75
1       661.25
2       531.50
        ...
141    1121.50
142     738.50
143     494.00
144    1409.50
145    1592.00
Length: 215, dtype: float64
0      515.00
0      515.00
0      515.00
1      402.50
2      527.50
        ...
141    270.00
142    260.00
143    293.75
144    288.75
145    290.00
Length: 215, dtype: float64
Year 0       910
0       910
0       910
1       681
2       501
       ...
141    1129
142     717
143     488
144    1390
145    1541
Name: 2017 Mar Count, Length: 215, dtype: int64
0       900.00
0       900.00
0       900.00
1       780.50
2       491.75
        ...
141    1130.75
142     697.00
143     521.50
144    1321.00
145    1507.00
Length: 215, dtype: float64
0      527.75
0      527.75
0      527.75
1      445.00
2      545.00
        ...
141    276.25
142    266.25
143    305.00
144    290.00
145    298.75
Length: 215, dtype: float64
Year 0       891
0       891
0       891
1       964
2       500
       ...
141    1125
142     645
143     512
144    1215
145    1479
Name: 2018 Mar Count, Length: 215, dtype: int64
0       912.25
0       912.25
0       912.25
1       916.75
2       505.00
        ...
141    1104.00
142     629.50
143     474.00
144    1202.25
145    1454.75
Length: 215, dtype: float64
0      562.50
0      562.50
0      562.50
1      487.50
2      566.25
        ...
141    278.75
142    274.25
143    323.75
144    300.00
145    302.50
Length: 215, dtype: float64
Year 0       905
0       905
0       905
1       794
2       482
       ...
141    1007
142     621
143     472
144    1102
145    1414
Name: 2019 Mar Count, Length: 215, dtype: int64
0       873.75
0       873.75
0       873.75
1       766.75
2       496.50
        ...
141     955.50
142     633.25
143     494.25
144    1069.00
145    1393.25
Length: 215, dtype: float64
0      568.00
0      568.00
0      568.00
1      481.25
2      579.25
        ...
141    287.50
142    287.50
143    347.00
144    322.50
145    318.75
Length: 215, dtype: float64
Year 0       855
0       855
0       855
1       753
2       547
       ...
141     921
142     662
143     528
144    1038
145    1386
Name: 2020 Mar Count, Length: 215, dtype: int64
0       835.50
0       835.50
0       835.50
1       744.25
2       541.00
        ...
141     881.25
142     646.75
143     571.75
144     983.50
145    1344.00
Length: 215, dtype: float64
0      570.00
0      570.00
0      570.00
1      498.75
2      588.75
        ...
141    307.50
142    299.50
143    360.00
144    342.50
145    330.00
Length: 215, dtype: float64
Year 0       902
0       902
0       902
1       793
2       577
       ...
141     810
142     598
143     581
144     870
145    1236
Name: 2021 Mar Count, Length: 215, dtype: int64
0       923.75
0       923.75
0       923.75
1       822.25
2       597.75
        ...
141     842.50
142     560.50
143     535.75
144     864.50
145    1229.50
Length: 215, dtype: float64
0      498.75
0      498.75
0      498.75
1      433.75
2      577.50
        ...
141    345.00
142    340.00
143    383.75
144    365.00
145    355.00
Length: 215, dtype: float64
Year 0       867
0       867
0       867
1       805
2       581
       ...
141     895
142     531
143     522
144     854
145    1233
Name: 2022 Mar Count, Length: 215, dtype: int64
0       858.75
0       858.75
0       858.75
1       837.00
2       552.25
        ...
141     892.00
142     537.25
143     518.00
144     856.75
145    1235.50
Length: 215, dtype: float64
0      510.00
0      510.00
0      510.00
1      447.50
2      593.75
        ...
141    375.00
142    377.50
143    412.50
144    410.00
145    395.00
Length: 215, dtype: float64

In [65]:
# Linear Regression Model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Merge the data
data = pd.merge(incomes, population, on='Label')
data = pd.merge(data, properties, on='Label')

In [66]:
data

,Label,median_income_2016,median_income_2017,median_income_2018,median_income_2019,median_income_2020,median_income_2021,median_income_2022,median_income_2023,median_income_2024,...,2022 Mar Count,2022 Mar Median,2022 Jun Count,2022 Jun Median,2022 Sep Count,2022 Sep Median,2022 Dec Count,2022 Dec Median,2023 Mar Count,2023 Mar Median
0,Abbotsford,56001,56242,59923,61918,66091,69104.795585,71219.795864,74636.644356,77788.073345,...,2353,430,2307,450,2517,480,2365,495,2163,520
1,Albert Park,64048,62922,64900,65880,68836,71758.449466,73918.640871,77000.919533,80239.921519,...,867,500,855,515,881,500,832,525,786,545
2,Alfredton,49071,50119,52709,53765,55019,57905.793758,60042.535187,62020.613758,64882.959903,...,1380,380,1335,385,1364,390,1373,395,1396,400
3,Altona,55400,57728,60447,62653,66074,68789.923837,71206.652414,74378.818466,77370.471963,...,5131,400,5141,400,5303,415,5152,420,4854,430
4,Armadale,53435,53191,54967,56826,58437,60888.938867,63398.692172,65683.276278,68375.766886,...,805,430,851,450,852,450,840,460,751,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Wantirna,48580,49745,52000,53558,54515,57176.198070,59580.172366,61451.333252,64158.088285,...,1085,460,1095,460,1115,470,1118,480,1036,490
87,Warragul,43528,44973,46695,48743,50491,52573.298820,54876.822510,57034.186426,59355.658689,...,522,400,512,400,515,420,523,430,497,440
88,Whittlesea,47444,48806,50337,50985,53834,56161.044081,57760.888538,60465.097827,63097.707623,...,1724,400,1637,410,1636,420,1654,430,1605,440
89,Williamstown,59132,60547,63087,64954,66862,69847.619258,72524.024821,75080.510789,78219.736136,...,590,520,577,520,579,520,575,540,563,550
90,Yarraville,61906,63996,66465,69379,72428,75150.947880,78146.977115,81342.059481,84431.867671,...,1327,470,1375,470,1437,475,1419,485,1404,500