In [523]:
import pandas as pd
import numpy as np

In [524]:
df = pd.read_csv('../../data/curated/AllProperties.csv')
df.loc[df['Suburb'] == 'Wanagaratta', 'Suburb'] = 'Wangaratta'

In [525]:
df.columns = df.columns.str.strip()

years = [2018, 2019, 2020, 2021, 2022, 2023]
df_weekly_rent = df[['Suburb']].copy()

for year in years:
    year_cols = [col for col in df.columns if col.startswith(str(year))]
    df[year_cols] = df[year_cols].apply(pd.to_numeric, errors='coerce')

    df_temp = df[year_cols].replace(0, np.nan)
    avg_without_zeros = df_temp.mean(axis=1, skipna=True)

    all_zero_mask = (df[year_cols] == 0).all(axis=1)
    column_name = f"{year}_weekly_rent"
    df_weekly_rent[column_name] = np.where(all_zero_mask, 0, avg_without_zeros)

df_weekly_rent

,Suburb,2018_weekly_rent,2019_weekly_rent,2020_weekly_rent,2021_weekly_rent,2022_weekly_rent,2023_weekly_rent
0,Albert Park-Middle Park-West St Kilda,737.375,720.875,702.750,711.250,684.375,665.5
1,Armadale,702.125,624.000,621.500,628.000,642.250,620.5
2,Carlton North,535.625,537.875,564.875,587.625,573.000,555.0
3,Carlton-Parkville,2418.875,2458.875,2663.875,2615.250,3372.250,3545.0
4,CBD-St Kilda Rd,5352.125,5629.750,6095.625,8814.125,9021.500,8963.0
...,...,...,...,...,...,...,...
141,Traralgon,691.375,621.500,594.375,593.750,633.500,644.0
142,Wangaratta,451.875,460.375,473.125,450.250,457.375,449.0
143,Warragul,398.875,420.625,465.875,459.750,465.250,468.5
144,Warrnambool,751.125,695.750,663.000,614.750,633.375,643.5
145,Wodonga,878.625,856.000,837.000,792.250,815.250,791.5

In [526]:
df_new = df_weekly_rent.copy()

population_years = [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]
for year in population_years:
    population_column_name = f"{year}_population"
    df_new[population_column_name] = 0  # Assign zero to all entries

df_new

,Suburb,2018_weekly_rent,2019_weekly_rent,2020_weekly_rent,2021_weekly_rent,2022_weekly_rent,2023_weekly_rent,2018_population,2019_population,2020_population,2021_population,2022_population,2023_population,2024_population,2025_population,2026_population
0,Albert Park-Middle Park-West St Kilda,737.375,720.875,702.750,711.250,684.375,665.5,0,0,0,0,0,0,0,0,0
1,Armadale,702.125,624.000,621.500,628.000,642.250,620.5,0,0,0,0,0,0,0,0,0
2,Carlton North,535.625,537.875,564.875,587.625,573.000,555.0,0,0,0,0,0,0,0,0,0
3,Carlton-Parkville,2418.875,2458.875,2663.875,2615.250,3372.250,3545.0,0,0,0,0,0,0,0,0,0
4,CBD-St Kilda Rd,5352.125,5629.750,6095.625,8814.125,9021.500,8963.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,691.375,621.500,594.375,593.750,633.500,644.0,0,0,0,0,0,0,0,0,0
142,Wangaratta,451.875,460.375,473.125,450.250,457.375,449.0,0,0,0,0,0,0,0,0,0
143,Warragul,398.875,420.625,465.875,459.750,465.250,468.5,0,0,0,0,0,0,0,0,0
144,Warrnambool,751.125,695.750,663.000,614.750,633.375,643.5,0,0,0,0,0,0,0,0,0
145,Wodonga,878.625,856.000,837.000,792.250,815.250,791.5,0,0,0,0,0,0,0,0,0

In [527]:
numeric_cols = df_weekly_rent.select_dtypes(include=['number']).columns
has_zeros = (df_weekly_rent[numeric_cols] == 0).any().any()

print(f"Does df_weekly_rent have any zero values? {has_zeros}")

Does df_weekly_rent have any zero values? False

In [528]:
df_population = pd.read_csv('../../data/curated/population_by_sa2.csv')
df_income = pd.read_csv('../../data/curated/income_by_sa2.csv')

In [529]:
for i in df_population.Label:
    print(i, df_population[df_population.Label == i].estimated_population_2018)

Abbotsford 0    9527
Name: estimated_population_2018, dtype: int64
Airport West 1    8169
Name: estimated_population_2018, dtype: int64
Albert Park 2    16728
Name: estimated_population_2018, dtype: int64
Alexandra 3    6646
Name: estimated_population_2018, dtype: int64
Alfredton 4    13537
Name: estimated_population_2018, dtype: int64
Alphington - Fairfield 5    9415
Name: estimated_population_2018, dtype: int64
Alps - West 6    24
Name: estimated_population_2018, dtype: int64
Altona 7    13657
Name: estimated_population_2018, dtype: int64
Altona Meadows 8    20101
Name: estimated_population_2018, dtype: int64
Altona North 9    15185
Name: estimated_population_2018, dtype: int64
Ararat 10    8428
Name: estimated_population_2018, dtype: int64
Ararat Surrounds 11    3188
Name: estimated_population_2018, dtype: int64
Ardeer - Albion 12    8228
Name: estimated_population_2018, dtype: int64
Armadale 13    88068
Name: estimated_population_2018, dtype: int64
Ascot Vale 14    15752
Name: estimated_population_2018, dtype: int64
Ashburton (Vic.) 15    8249
Name: estimated_population_2018, dtype: int64
Ashwood - Chadstone 16    19978
Name: estimated_population_2018, dtype: int64
Aspendale Gardens - Waterways 17    9377
Name: estimated_population_2018, dtype: int64
Avoca 18    3393
Name: estimated_population_2018, dtype: int64
Avondale Heights 19    12451
Name: estimated_population_2018, dtype: int64
Bacchus Marsh 20    22493
Name: estimated_population_2018, dtype: int64
Bacchus Marsh Surrounds 21    6222
Name: estimated_population_2018, dtype: int64
Bairnsdale 22    15405
Name: estimated_population_2018, dtype: int64
Ballarat 23    165466
Name: estimated_population_2018, dtype: int64
Ballarat East - Warrenheip 24    9536
Name: estimated_population_2018, dtype: int64
Ballarat North - Invermay 25    14516
Name: estimated_population_2018, dtype: int64
Balwyn 26    17081
Name: estimated_population_2018, dtype: int64
Balwyn North 27    21780
Name: estimated_population_2018, dtype: int64
Bannockburn 28    7130
Name: estimated_population_2018, dtype: int64
Baranduda - Leneva 29    10745
Name: estimated_population_2018, dtype: int64
Barwon Heads - Armstrong Creek 30    9340
Name: estimated_population_2018, dtype: int64
Bayswater 31    12818
Name: estimated_population_2018, dtype: int64
Bayswater North 32    12392
Name: estimated_population_2018, dtype: int64
Beaconsfield - Officer 33    17743
Name: estimated_population_2018, dtype: int64
Beaufort 34    4448
Name: estimated_population_2018, dtype: int64
Beaumaris 35    14434
Name: estimated_population_2018, dtype: int64
Beechworth 36    4801
Name: estimated_population_2018, dtype: int64
Belgrave - Selby 37    10429
Name: estimated_population_2018, dtype: int64
Belmont 38    14754
Name: estimated_population_2018, dtype: int64
Benalla 39    10553
Name: estimated_population_2018, dtype: int64
Benalla Surrounds 40    3677
Name: estimated_population_2018, dtype: int64
Bendigo 41    160532
Name: estimated_population_2018, dtype: int64
Bendigo Surrounds - North 42    4615
Name: estimated_population_2018, dtype: int64
Bendigo Surrounds - South 43    7797
Name: estimated_population_2018, dtype: int64
Bentleigh - McKinnon 44    24600
Name: estimated_population_2018, dtype: int64
Bentleigh East - North 45    15986
Name: estimated_population_2018, dtype: int64
Bentleigh East - South 46    13944
Name: estimated_population_2018, dtype: int64
Berwick - North 47    23851
Name: estimated_population_2018, dtype: int64
Berwick - South East 48    17693
Name: estimated_population_2018, dtype: int64
Berwick - South West 49    10552
Name: estimated_population_2018, dtype: int64
Blackburn 50    22743
Name: estimated_population_2018, dtype: int64
Blackburn South 51    11354
Name: estimated_population_2018, dtype: int64
Boronia 52    23425
Name: estimated_population_2018, dtype: int64
Box Hill 53    22696
Name: estimated_population_2018, dtype: int64
Box Hill North 54    18662
Name: estimated_population_2018, dtype: int64
Braeside 55    47
Name: estimated_population_2018, dtype: int64
Braybrook 56    19700
Name: estimated_population_2018, dtype: int64
Bright - Mount Beauty 57    8529
Name: estimated_population_2018, dtype: int64
Brighton (Vic.) 58    24545
Name: estimated_population_2018, dtype: int64
Brighton East 59    16915
Name: estimated_population_2018, dtype: int64
Broadmeadows 60    14555
Name: estimated_population_2018, dtype: int64
Brookfield 61    9691
Name: estimated_population_2018, dtype: int64
Brunswick - North 62    13928
Name: estimated_population_2018, dtype: int64
Brunswick - South 63    14200
Name: estimated_population_2018, dtype: int64
Brunswick East 64    12392
Name: estimated_population_2018, dtype: int64
Brunswick West 65    14695
Name: estimated_population_2018, dtype: int64
Bruthen - Omeo 66    8016
Name: estimated_population_2018, dtype: int64
Bulleen 67    11631
Name: estimated_population_2018, dtype: int64
Buloke 68    6218
Name: estimated_population_2018, dtype: int64
Bundoora - East 69    10359
Name: estimated_population_2018, dtype: int64
Bundoora - North 70    8005
Name: estimated_population_2018, dtype: int64
Bundoora - West 71    6471
Name: estimated_population_2018, dtype: int64
Buninyong 72    7418
Name: estimated_population_2018, dtype: int64
Bunyip - Garfield 73    9121
Name: estimated_population_2018, dtype: int64
Burnside 74    45882
Name: estimated_population_2018, dtype: int64
Burnside Heights 75    6658
Name: estimated_population_2018, dtype: int64
Burwood (Vic.) 76    13392
Name: estimated_population_2018, dtype: int64
Burwood East 77    10898
Name: estimated_population_2018, dtype: int64
Cairnlea 78    10444
Name: estimated_population_2018, dtype: int64
California Gully - Eaglehawk 79    12468
Name: estimated_population_2018, dtype: int64
Camberwell 80    22812
Name: estimated_population_2018, dtype: int64
Campbellfield - Coolaroo 81    17185
Name: estimated_population_2018, dtype: int64
Camperdown 82    3561
Name: estimated_population_2018, dtype: int64
Canadian - Mount Clear 83    12003
Name: estimated_population_2018, dtype: int64
Carlton 84    20831
Name: estimated_population_2018, dtype: int64
Carlton North - Princes Hill 85    9025
Name: estimated_population_2018, dtype: int64
Carnegie 86    19551
Name: estimated_population_2018, dtype: int64
Caroline Springs 87    21404
Name: estimated_population_2018, dtype: int64
Carrum - Patterson Lakes 88    12333
Name: estimated_population_2018, dtype: int64
Carrum Downs 89    22045
Name: estimated_population_2018, dtype: int64
Castlemaine 90    11015
Name: estimated_population_2018, dtype: int64
Castlemaine Surrounds 91    8782
Name: estimated_population_2018, dtype: int64
Caulfield - North 92    23040
Name: estimated_population_2018, dtype: int64
Caulfield - South 93    18742
Name: estimated_population_2018, dtype: int64
Charlemont 94    6042
Name: estimated_population_2018, dtype: int64
Chelsea - Bonbeach 95    15210
Name: estimated_population_2018, dtype: int64
Chelsea Heights 96    5564
Name: estimated_population_2018, dtype: int64
Chiltern - Indigo Valley 97    3118
Name: estimated_population_2018, dtype: int64
Chirnside Park 98    11046
Name: estimated_population_2018, dtype: int64
Churchill 99    11642
Name: estimated_population_2018, dtype: int64
Clarinda - Oakleigh South 100    12285
Name: estimated_population_2018, dtype: int64
Clayton (North) - Notting Hill 101    11830
Name: estimated_population_2018, dtype: int64
Clayton - Central 102    13524
Name: estimated_population_2018, dtype: int64
Clayton South 103    13662
Name: estimated_population_2018, dtype: int64
Clifton Hill - Alphington 104    9768
Name: estimated_population_2018, dtype: int64
Clifton Springs 105    14763
Name: estimated_population_2018, dtype: int64
Clyde North - North 106    5685
Name: estimated_population_2018, dtype: int64
Clyde North - South 107    4175
Name: estimated_population_2018, dtype: int64
Cobblebank - Strathtulloh 108    2763
Name: estimated_population_2018, dtype: int64
Cobram 109    6459
Name: estimated_population_2018, dtype: int64
Coburg - East 110    13379
Name: estimated_population_2018, dtype: int64
Coburg - West 111    14698
Name: estimated_population_2018, dtype: int64
Coburg North 112    8589
Name: estimated_population_2018, dtype: int64
Colac 113    12651
Name: estimated_population_2018, dtype: int64
Colac Surrounds 114    5475
Name: estimated_population_2018, dtype: int64
Collingwood 115    9605
Name: estimated_population_2018, dtype: int64
Corangamite - North 116    5359
Name: estimated_population_2018, dtype: int64
Corangamite - South 117    7261
Name: estimated_population_2018, dtype: int64
Corio - Lovely Banks 118    18457
Name: estimated_population_2018, dtype: int64
Craigieburn - Central 119    8869
Name: estimated_population_2018, dtype: int64
Craigieburn - North 120    12936
Name: estimated_population_2018, dtype: int64
Craigieburn - North West 121    7482
Name: estimated_population_2018, dtype: int64
Craigieburn - South 122    19547
Name: estimated_population_2018, dtype: int64
Craigieburn - West 123    10988
Name: estimated_population_2018, dtype: int64
Cranbourne 124    21414
Name: estimated_population_2018, dtype: int64
Cranbourne East - North 125    21760
Name: estimated_population_2018, dtype: int64
Cranbourne East - South 126    8073
Name: estimated_population_2018, dtype: int64
Cranbourne North - East 127    11050
Name: estimated_population_2018, dtype: int64
Cranbourne North - West 128    12452
Name: estimated_population_2018, dtype: int64
Cranbourne South 129    10722
Name: estimated_population_2018, dtype: int64
Cranbourne West 130    18628
Name: estimated_population_2018, dtype: int64
Creswick - Clunes 131    7962
Name: estimated_population_2018, dtype: int64
Croydon - East 132    16181
Name: estimated_population_2018, dtype: int64
Croydon - West 133    14324
Name: estimated_population_2018, dtype: int64
Croydon Hills - Warranwood 134    18766
Name: estimated_population_2018, dtype: int64
Croydon South 135    4918
Name: estimated_population_2018, dtype: int64
Dandenong - North 136    23382
Name: estimated_population_2018, dtype: int64
Dandenong - South 137    9931
Name: estimated_population_2018, dtype: int64
Dandenong North 138    23930
Name: estimated_population_2018, dtype: int64
Daylesford 139    9389
Name: estimated_population_2018, dtype: int64
Deer Park 140    19291
Name: estimated_population_2018, dtype: int64
Delacombe 141    8183
Name: estimated_population_2018, dtype: int64
Delahey 142    8732
Name: estimated_population_2018, dtype: int64
Derrimut 143    9037
Name: estimated_population_2018, dtype: int64
Diggers Rest 144    2989
Name: estimated_population_2018, dtype: int64
Dingley Village 145    10700
Name: estimated_population_2018, dtype: int64
Docklands 146    15436
Name: estimated_population_2018, dtype: int64
Doncaster 147    23236
Name: estimated_population_2018, dtype: int64
Doncaster East - North 148    15713
Name: estimated_population_2018, dtype: int64
Doncaster East - South 149    15120
Name: estimated_population_2018, dtype: int64
Donvale - Park Orchards 150    16804
Name: estimated_population_2018, dtype: int64
Doreen - North 151    15853
Name: estimated_population_2018, dtype: int64
Doreen - South 152    8498
Name: estimated_population_2018, dtype: int64
Doveton 153    12260
Name: estimated_population_2018, dtype: int64
Dromana 154    12473
Name: estimated_population_2018, dtype: int64
Drouin 155    17780
Name: estimated_population_2018, dtype: int64
East Bendigo - Kennington 156    13838
Name: estimated_population_2018, dtype: int64
East Melbourne 157    5412
Name: estimated_population_2018, dtype: int64
Echuca 158    15153
Name: estimated_population_2018, dtype: int64
Edithvale - Aspendale 159    13627
Name: estimated_population_2018, dtype: int64
Elsternwick 160    12417
Name: estimated_population_2018, dtype: int64
Eltham 161    24124
Name: estimated_population_2018, dtype: int64
Elwood 162    16268
Name: estimated_population_2018, dtype: int64
Emerald - Cockatoo 163    18776
Name: estimated_population_2018, dtype: int64
Endeavour Hills - North 164    12570
Name: estimated_population_2018, dtype: int64
Endeavour Hills - South 165    14060
Name: estimated_population_2018, dtype: int64
Epping (Vic.) - West 166    12431
Name: estimated_population_2018, dtype: int64
Epping - East 167    13931
Name: estimated_population_2018, dtype: int64
Epping - South 168    8783
Name: estimated_population_2018, dtype: int64
Essendon (West) - Aberfeldie 169    16935
Name: estimated_population_2018, dtype: int64
Essendon - East 170    12611
Name: estimated_population_2018, dtype: int64
Essendon Airport 171    6
Name: estimated_population_2018, dtype: int64
Euroa 172    6548
Name: estimated_population_2018, dtype: int64
Eynesbury - Exford 173    2999
Name: estimated_population_2018, dtype: int64
Fawkner 174    14795
Name: estimated_population_2018, dtype: int64
Ferntree Gully (South) - Upper Ferntree Gully 175    15415
Name: estimated_population_2018, dtype: int64
Ferntree Gully - North 176    14477
Name: estimated_population_2018, dtype: int64
Fitzroy 177    11373
Name: estimated_population_2018, dtype: int64
Fitzroy North 178    13336
Name: estimated_population_2018, dtype: int64
Flemington 179    10654
Name: estimated_population_2018, dtype: int64
Flemington Racecourse 180    86
Name: estimated_population_2018, dtype: int64
Flinders 181    5798
Name: estimated_population_2018, dtype: int64
Flora Hill - Spring Gully 182    9525
Name: estimated_population_2018, dtype: int64
Footscray 183    17905
Name: estimated_population_2018, dtype: int64
Forest Hill 184    11260
Name: estimated_population_2018, dtype: int64
Foster 185    9028
Name: estimated_population_2018, dtype: int64
Frankston 186    141531
Name: estimated_population_2018, dtype: int64
Frankston North 187    20022
Name: estimated_population_2018, dtype: int64
Frankston South 188    19194
Name: estimated_population_2018, dtype: int64
Fraser Rise - Plumpton 189    7015
Name: estimated_population_2018, dtype: int64
French Island 190    124
Name: estimated_population_2018, dtype: int64
Gannawarra 191    6681
Name: estimated_population_2018, dtype: int64
Geelong 192    303323
Name: estimated_population_2018, dtype: int64
Geelong West - Hamlyn Heights 193    20511
Name: estimated_population_2018, dtype: int64
Gisborne 194    13909
Name: estimated_population_2018, dtype: int64
Gladstone Park - Westmeadows 195    18583
Name: estimated_population_2018, dtype: int64
Glen Iris - East 196    17419
Name: estimated_population_2018, dtype: int64
Glen Waverley - East 197    22569
Name: estimated_population_2018, dtype: int64
Glen Waverley - West 198    20912
Name: estimated_population_2018, dtype: int64
Glenelg (Vic.) 199    8820
Name: estimated_population_2018, dtype: int64
Glenroy - East 200    15411
Name: estimated_population_2018, dtype: int64
Glenroy - West 201    8863
Name: estimated_population_2018, dtype: int64
Golden Plains - North 202    4692
Name: estimated_population_2018, dtype: int64
Golden Plains - South 203    7327
Name: estimated_population_2018, dtype: int64
Gordon (Vic.) 204    5996
Name: estimated_population_2018, dtype: int64
Gowanbrae 205    3120
Name: estimated_population_2018, dtype: int64
Greensborough 206    21460
Name: estimated_population_2018, dtype: int64
Greenvale - Bulla 207    19485
Name: estimated_population_2018, dtype: int64
Grovedale - Mount Duneed 208    22111
Name: estimated_population_2018, dtype: int64
Hadfield 209    6110
Name: estimated_population_2018, dtype: int64
Hallam 210    11697
Name: estimated_population_2018, dtype: int64
Hamilton (Vic.) 211    10187
Name: estimated_population_2018, dtype: int64
Hampton 212    18819
Name: estimated_population_2018, dtype: int64
Hampton Park - East 213    13348
Name: estimated_population_2018, dtype: int64
Hampton Park - West 214    14031
Name: estimated_population_2018, dtype: int64
Hastings - Somers 215    23603
Name: estimated_population_2018, dtype: int64
Hawthorn - North 216    11280
Name: estimated_population_2018, dtype: int64
Hawthorn - South 217    13508
Name: estimated_population_2018, dtype: int64
Hawthorn East 218    16676
Name: estimated_population_2018, dtype: int64
Healesville - Yarra Glen 219    14367
Name: estimated_population_2018, dtype: int64
Heathcote 220    4695
Name: estimated_population_2018, dtype: int64
Heidelberg - Rosanna 221    16154
Name: estimated_population_2018, dtype: int64
Heidelberg West 222    15202
Name: estimated_population_2018, dtype: int64
Highett (West) - Cheltenham 223    12149
Name: estimated_population_2018, dtype: int64
Highton 224    23463
Name: estimated_population_2018, dtype: int64
Hillside 225    16859
Name: estimated_population_2018, dtype: int64
Hoppers Crossing - North 226    19926
Name: estimated_population_2018, dtype: int64
Hoppers Crossing - South 227    20311
Name: estimated_population_2018, dtype: int64
Horsham 228    16631
Name: estimated_population_2018, dtype: int64
Horsham Surrounds 229    3459
Name: estimated_population_2018, dtype: int64
Hughesdale 230    7996
Name: estimated_population_2018, dtype: int64
Hurstbridge 231    3626
Name: estimated_population_2018, dtype: int64
Irymple 232    7178
Name: estimated_population_2018, dtype: int64
Ivanhoe 233    12643
Name: estimated_population_2018, dtype: int64
Ivanhoe East - Eaglemont 234    8135
Name: estimated_population_2018, dtype: int64
Kangaroo Flat - Golden Square 235    20442
Name: estimated_population_2018, dtype: int64
Keilor 236    62768
Name: estimated_population_2018, dtype: int64
Keilor Downs 237    13870
Name: estimated_population_2018, dtype: int64
Keilor East 238    15357
Name: estimated_population_2018, dtype: int64
Kensington (Vic.) 239    11493
Name: estimated_population_2018, dtype: int64
Kerang 240    3915
Name: estimated_population_2018, dtype: int64
Kew - South 241    12649
Name: estimated_population_2018, dtype: int64
Kew - West 242    14007
Name: estimated_population_2018, dtype: int64
Kew East 243    6786
Name: estimated_population_2018, dtype: int64
Keysborough - North 244    15830
Name: estimated_population_2018, dtype: int64
Keysborough - South 245    13574
Name: estimated_population_2018, dtype: int64
Kialla 246    8064
Name: estimated_population_2018, dtype: int64
Kilmore - Broadford 247    14691
Name: estimated_population_2018, dtype: int64
Kilsyth 248    9685
Name: estimated_population_2018, dtype: int64
Kinglake 249    4121
Name: estimated_population_2018, dtype: int64
Kings Park (Vic.) 250    14621
Name: estimated_population_2018, dtype: int64
Kingsbury 251    12071
Name: estimated_population_2018, dtype: int64
Knoxfield - Scoresby 252    16588
Name: estimated_population_2018, dtype: int64
Koo Wee Rup 253    8303
Name: estimated_population_2018, dtype: int64
Korumburra 254    9451
Name: estimated_population_2018, dtype: int64
Kurunjang - Toolern Vale 255    11671
Name: estimated_population_2018, dtype: int64
Kyabram 256    11055
Name: estimated_population_2018, dtype: int64
Kyneton 257    10070
Name: estimated_population_2018, dtype: int64
Lakes Entrance 258    10424
Name: estimated_population_2018, dtype: int64
Lalor - East 259    10636
Name: estimated_population_2018, dtype: int64
Lalor - West 260    13736
Name: estimated_population_2018, dtype: int64
Langwarrin 261    25019
Name: estimated_population_2018, dtype: int64
Lara 262    19778
Name: estimated_population_2018, dtype: int64
Laverton 263    10899
Name: estimated_population_2018, dtype: int64
Leongatha 264    11328
Name: estimated_population_2018, dtype: int64
Leopold 265    13411
Name: estimated_population_2018, dtype: int64
Lilydale - Coldstream 266    19822
Name: estimated_population_2018, dtype: int64
Lockington - Gunbower 267    3872
Name: estimated_population_2018, dtype: int64
Loddon 268    7137
Name: estimated_population_2018, dtype: int64
Longford - Loch Sport 269    4528
Name: estimated_population_2018, dtype: int64

In [530]:
with open('missing_suburbs.txt') as f:
    missing_suburbs = f.read().splitlines()

#### Add population data to new_df for each suburb

In [531]:
for label in df_population.Label:
    if label in missing_suburbs:
        continue
    found = False
    for suburb in df_weekly_rent.Suburb.values:
        if label == 'Carlton' and suburb == 'Carlton-Parkville' or \
        label == 'Keilor' and suburb == 'Keilor' or \
        label == 'Pascoe Vale' and suburb == 'Pascoe Vale-Coburg North' or \
        label == 'Bendigo Surrounds - North' and suburb == 'North Bendigo' or \
        label == 'East Bendigo - Kennington' and suburb == 'Flora Hill-Bendigo East' or \
        label == 'Brunswick East' and suburb == 'East Brunswick' or \
        label == 'Brunswick West' and suburb == 'West Brunswick' or \
        label == 'Carlton North - Princes Hill' and suburb == 'Carlton North' or \
        label == 'Dandenong - North' and suburb == 'Dandenong North-Endeavour Hills' or \
        label == 'Dandenong - South' and suburb == 'Dandenong' or \
        label == 'Gladstone Park - Westmeadows' and suburb == 'Gladstone Park-Tullamarine' or \
        label == 'Hawthorn East' and suburb == 'East Hawthorn' or \
        label == 'Highett (West) - Cheltenham' and suburb == 'Cheltenham' or \
        label == 'Ivanhoe East - Eaglemont' and suburb == 'Ivanhoe-Ivanhoe East' or \
        label == 'North Geelong - Bell Park' and suburb == 'North Geelong' or \
        label == 'Research - North Warrandyte' and suburb == 'Eltham-Research-Montmorency' or \
        label == 'Geelong West - Hamlyn Heights' and suburb == 'Herne Hill-Geelong West' or \
        label == 'St Kilda - Central' and suburb == 'St Kilda' or \
        label == 'St Kilda - West' and suburb == 'Albert Park-Middle Park-West St Kilda' or \
        label == 'St Kilda East' and suburb == 'East St Kilda' or \
        label == 'West Footscray - Tottenham' and suburb == 'West Footscray' or \
        'Berwick' in label and 'Berwick' in suburb or \
        'Bundoora' in label and 'Bundoora' in suburb or \
        'Clayton' in label and 'Clayton' in suburb or \
        'Craigieburn' in label and 'Craigieburn' in suburb or \
        'Croydon' in label and 'Croydon' in suburb or \
        'Doncaster East' in label and 'Doncaster East' in suburb or \
        'Endeavour Hills' in label and 'Endeavour Hills' in suburb or \
        'Epping' in label and 'Epping' in suburb or \
        'Essendon' in label and 'Essendon' in suburb or \
        'Ferntree Gully' in label and 'Ferntree Gully' in suburb or \
        'Glen Waverley' in label and 'Glen Waverley' in suburb or \
        'Glenroy' in label and 'Glenroy' in suburb or \
        'Hampton Park' in label and 'Hampton Park' in suburb or \
        'Hoppers Crossing' in label and 'Hoppers Crossing' in suburb or \
        'Kew' in label and 'Kew' in suburb or \
        'Lalor' in label and 'Lalor' in suburb or \
        'CBD' in label and 'CBD' in suburb or \
        'Mildura' in label and 'Mildura' in suburb or \
        'Mill Park' in label and 'Mill Park' in suburb or \
        'Mornington' in label and 'Mornington' in suburb or \
        'Mount Waverley' in label and 'Mount Waverley' in suburb or \
        'Narre Warren' in label and 'Narre Warren' in suburb or \
        'Noble Park' in label and 'Noble Park' in suburb or \
        'Northcote' in label and 'Northcote' in suburb or \
        'Pakenham' in label and 'Pakenham' in suburb or \
        'Preston' in label and 'Preston' in suburb or \
        'Reservoir' in label and 'Reservoir' in suburb or \
        'Richmond' in label and 'Richmond' in suburb or \
        'Rowville' in label and 'Rowville' in suburb or \
        'Roxburgh' in label and 'Roxburgh' in suburb or \
        'Shepparton' in label and 'Shepparton' in suburb or \
        'South Yarra' in label and 'South Yarra' in suburb or \
        'Southbank' in label and 'Southbank' in suburb or \
        'Albans' in label and 'Albans' in suburb or \
        'Surrey' in label and 'Surrey' in suburb or \
        'Traralgon' in label and 'Traralgon' in suburb or \
        'Warrnambool' in label and 'Warrnambool' in suburb or \
        'Werribee' in label and 'Werribee' in suburb or \
        'West Melbourne' in label and 'West Melbourne' in suburb or \
        label in suburb:
            found = True
            df_new.loc[df_new['Suburb'] == suburb, '2018_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2018'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2019_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2019'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2020_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2020'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2021_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2021'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2022_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2022'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2023_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2023'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2024_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2024'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2025_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2025'].values[0]
            df_new.loc[df_new['Suburb'] == suburb, '2026_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2026'].values[0]
            break
    if not found:
        if 'west' in label.lower() or 'north' in label.lower() or 'south' in label.lower() or 'east' in label.lower() or 'central' in label.lower():
            print(label)

/tmp/ipykernel_355110/2772258619.py:74: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10527.67682407277' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Suburb'] == suburb, '2024_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2024'].values[0]
/tmp/ipykernel_355110/2772258619.py:75: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10914.57804458454' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Suburb'] == suburb, '2025_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2025'].values[0]
/tmp/ipykernel_355110/2772258619.py:76: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11189.069983866411' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Suburb'] == suburb, '2026_population'] = df_population.loc[df_population['Label'] == label, 'estimated_population_2026'].values[0]

In [532]:
df_new

,Suburb,2018_weekly_rent,2019_weekly_rent,2020_weekly_rent,2021_weekly_rent,2022_weekly_rent,2023_weekly_rent,2018_population,2019_population,2020_population,2021_population,2022_population,2023_population,2024_population,2025_population,2026_population
0,Albert Park-Middle Park-West St Kilda,737.375,720.875,702.750,711.250,684.375,665.5,15650,15767,15648,14090,14282,15480,16876.743092,17877.398276,18456.999802
1,Armadale,702.125,624.000,621.500,628.000,642.250,620.5,88068,91543,94970,97644,100849,105094,109278.935733,112809.297134,115653.092418
2,Carlton North,535.625,537.875,564.875,587.625,573.000,555.0,9025,8994,8899,8290,8158,8531,9084.132022,9550.347654,9862.951429
3,Carlton-Parkville,2418.875,2458.875,2663.875,2615.250,3372.250,3545.0,8242,8291,8318,7428,7475,8003,8655.475805,9134.517212,9424.459783
4,CBD-St Kilda Rd,5352.125,5629.750,6095.625,8814.125,9021.500,8963.0,18101,18750,18796,16098,17343,20027,22682.392085,24346.189095,25185.622505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,691.375,621.500,594.375,593.750,633.500,644.0,16274,16509,16706,16774,16963,17082,17230.601962,17440.879812,17720.402591
142,Wangaratta,451.875,460.375,473.125,450.250,457.375,449.0,19471,19624,19716,19884,19969,19969,20034.054500,20227.345652,20533.557675
143,Warragul,398.875,420.625,465.875,459.750,465.250,468.5,20501,21283,22099,23098,23787,24417,25003.530068,25586.242179,26163.283094
144,Warrnambool,751.125,695.750,663.000,614.750,633.375,643.5,13226,13264,13346,13298,13323,13476,13723.885029,14008.876465,14296.658501
145,Wodonga,878.625,856.000,837.000,792.250,815.250,791.5,15547,15408,15256,15053,14880,14814,14889.299931,15073.767232,15318.781939