In [299]:
import pandas as pd
import numpy as np

In [300]:
df = pd.read_csv('../../data/curated/AllProperties.csv')
df.loc[df['Suburb'] == 'Wanagaratta', 'Suburb'] = 'Wangaratta'

In [301]:
df.columns = df.columns.str.strip()

years = [2018, 2019, 2020, 2021, 2022, 2023]
df_weekly_rent = df[['Suburb']].copy()

for year in years:
    year_cols = [col for col in df.columns if col.startswith(str(year))]
    df[year_cols] = df[year_cols].apply(pd.to_numeric, errors='coerce')

    df_temp = df[year_cols].replace(0, np.nan)
    avg_without_zeros = df_temp.mean(axis=1, skipna=True)

    all_zero_mask = (df[year_cols] == 0).all(axis=1)
    column_name = f"{year}_weekly_rent"
    df_weekly_rent[column_name] = np.where(all_zero_mask, 0, avg_without_zeros)

df_weekly_rent

,Suburb,2018_weekly_rent,2019_weekly_rent,2020_weekly_rent,2021_weekly_rent,2022_weekly_rent,2023_weekly_rent
0,Albert Park-Middle Park-West St Kilda,737.375,720.875,702.750,711.250,684.375,665.5
1,Armadale,702.125,624.000,621.500,628.000,642.250,620.5
2,Carlton North,535.625,537.875,564.875,587.625,573.000,555.0
3,Carlton-Parkville,2418.875,2458.875,2663.875,2615.250,3372.250,3545.0
4,CBD-St Kilda Rd,5352.125,5629.750,6095.625,8814.125,9021.500,8963.0
...,...,...,...,...,...,...,...
141,Traralgon,691.375,621.500,594.375,593.750,633.500,644.0
142,Wangaratta,451.875,460.375,473.125,450.250,457.375,449.0
143,Warragul,398.875,420.625,465.875,459.750,465.250,468.5
144,Warrnambool,751.125,695.750,663.000,614.750,633.375,643.5
145,Wodonga,878.625,856.000,837.000,792.250,815.250,791.5

In [302]:
numeric_cols = df_weekly_rent.select_dtypes(include=['number']).columns
has_zeros = (df_weekly_rent[numeric_cols] == 0).any().any()

print(f"Does df_weekly_rent have any zero values? {has_zeros}")

Does df_weekly_rent have any zero values? False

In [303]:
df_new = df_weekly_rent.copy()

population_years = [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]
for year in population_years:
    
    # initialise population columns
    population_column_name = f"{year}_population"
    df_new[population_column_name] = 0
    
    # initialise income columns
    income_column_name = f"{year}_income"
    df_new[income_column_name] = 0.0

df_new

,Suburb,2018_weekly_rent,2019_weekly_rent,2020_weekly_rent,2021_weekly_rent,2022_weekly_rent,2023_weekly_rent,2018_population,2018_income,2019_population,...,2022_population,2022_income,2023_population,2023_income,2024_population,2024_income,2025_population,2025_income,2026_population,2026_income
0,Albert Park-Middle Park-West St Kilda,737.375,720.875,702.750,711.250,684.375,665.5,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,Armadale,702.125,624.000,621.500,628.000,642.250,620.5,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,Carlton North,535.625,537.875,564.875,587.625,573.000,555.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,Carlton-Parkville,2418.875,2458.875,2663.875,2615.250,3372.250,3545.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,CBD-St Kilda Rd,5352.125,5629.750,6095.625,8814.125,9021.500,8963.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,691.375,621.500,594.375,593.750,633.500,644.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
142,Wangaratta,451.875,460.375,473.125,450.250,457.375,449.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
143,Warragul,398.875,420.625,465.875,459.750,465.250,468.5,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
144,Warrnambool,751.125,695.750,663.000,614.750,633.375,643.5,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
145,Wodonga,878.625,856.000,837.000,792.250,815.250,791.5,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [304]:
df_population = pd.read_csv('../../data/curated/population_by_sa2.csv')
df_income = pd.read_csv('../../data/curated/income_by_sa2.csv')

In [305]:
df_population

,Label,estimated_population_2018,estimated_population_2019,estimated_population_2020,estimated_population_2021,estimated_population_2022,estimated_population_2023,estimated_population_2024,estimated_population_2025,estimated_population_2026
0,Abbotsford,9527,9594,9672,9258,9513,10008,10527.676824,10914.578045,11189.069984
1,Airport West,8169,8390,8362,8240,8295,8464,8683.181491,8896.540332,9093.092637
2,Albert Park,16728,17081,16955,16011,16177,16861,17665.062455,18280.665009,18706.847174
3,Alexandra,6646,6687,6690,6771,6794,6836,6915.938566,7038.105197,7186.668076
4,Alfredton,13537,14434,15507,16841,18002,18997,19771.949269,20395.671019,20940.982750
...,...,...,...,...,...,...,...,...,...,...
512,Yarram,5437,5474,5545,5555,5588,5580,5594.979256,5653.608883,5754.511887
513,Yarraville,15991,16092,16068,15651,15661,16020,16523.217961,16987.482063,17369.407751
514,Yarrawonga,8297,8418,8508,8593,8727,8812,8901.992448,9023.455120,9184.454667
515,Yarriambiack,6639,6617,6583,6453,6376,6327,6344.344429,6418.401396,6530.575937
516,Yea,3803,3907,4019,4142,4257,4297,4324.589374,4377.316144,4465.868234

In [306]:
df_income

,Label,median_income_2016,median_income_2017,median_income_2018,median_income_2019,median_income_2020,median_income_2021,median_income_2022,median_income_2023,median_income_2024,median_income_2025,median_income_2026
0,Abbotsford,56001,56242,59923,61918,66091,69104.795585,71219.795864,74636.644356,77788.073345,80427.684311,83781.391430
1,Airport West,54708,56619,58350,60992,62920,65268.165154,68154.903250,70695.851426,73394.212934,76451.213723,79397.004301
2,Albert Park,64048,62922,64900,65880,68836,71758.449466,73918.640871,77000.919533,80239.921519,83055.592588,86331.495226
3,Alexandra,38251,39811,41230,42447,44033,46010.900933,47833.306333,49778.505143,51958.291329,54092.617842,56294.447393
4,Alfredton,49071,50119,52709,53765,55019,57905.793758,60042.535187,62020.613758,64882.959903,67482.620117,69928.862355
...,...,...,...,...,...,...,...,...,...,...,...,...
394,Yarram,40266,39960,42650,43228,44904,47529.419325,49053.429695,50953.269734,53495.237847,55533.119845,57691.004992
395,Yarraville,61906,63996,66465,69379,72428,75150.947880,78146.977115,81342.059481,84431.867671,87696.030832,91150.354200
396,Yarrawonga,40234,40400,41809,43914,45708,47484.605261,49661.654459,51747.588040,53812.175594,56123.344343,58452.379863
397,Yarriambiack,35901,37036,39000,42076,43823,45495.709284,47986.025739,49976.076330,51873.803656,54280.164801,56537.349739
398,Yea,39367,39866,41923,43257,46153,48219.109028,49815.564636,52322.566242,54600.490028,56587.776711,59080.767107

In [307]:
with open('missing_suburbs.txt') as f:
    missing_suburbs = f.read().splitlines()

#### Add population and income data to new_df for each suburb

In [308]:
suburb_count = {}

for label in df_income.Label:
    if label in missing_suburbs:
        continue
    found = False
    for suburb in df_weekly_rent.Suburb.values:
        if label == 'Carlton' and suburb == 'Carlton-Parkville' or \
        label == 'Keilor' and suburb == 'Keilor' or \
        label == 'Pascoe Vale' and suburb == 'Pascoe Vale-Coburg North' or \
        label == 'Bendigo Surrounds - North' and suburb == 'North Bendigo' or \
        label == 'East Bendigo - Kennington' and suburb == 'Flora Hill-Bendigo East' or \
        label == 'Brunswick East' and suburb == 'East Brunswick' or \
        label == 'Brunswick West' and suburb == 'West Brunswick' or \
        label == 'Carlton North - Princes Hill' and suburb == 'Carlton North' or \
        label == 'Dandenong - North' and suburb == 'Dandenong North-Endeavour Hills' or \
        label == 'Dandenong - South' and suburb == 'Dandenong' or \
        label == 'Gladstone Park - Westmeadows' and suburb == 'Gladstone Park-Tullamarine' or \
        label == 'Hawthorn East' and suburb == 'East Hawthorn' or \
        label == 'Highett (West) - Cheltenham' and suburb == 'Cheltenham' or \
        label == 'Ivanhoe East - Eaglemont' and suburb == 'Ivanhoe-Ivanhoe East' or \
        label == 'North Geelong - Bell Park' and suburb == 'North Geelong' or \
        label == 'Research - North Warrandyte' and suburb == 'Eltham-Research-Montmorency' or \
        label == 'Geelong West - Hamlyn Heights' and suburb == 'Herne Hill-Geelong West' or \
        label == 'St Kilda - Central' and suburb == 'St Kilda' or \
        label == 'St Kilda - West' and suburb == 'Albert Park-Middle Park-West St Kilda' or \
        label == 'St Kilda East' and suburb == 'East St Kilda' or \
        label == 'West Footscray - Tottenham' and suburb == 'West Footscray' or \
        'Berwick' in label and 'Berwick' in suburb or \
        'Bundoora' in label and 'Bundoora' in suburb or \
        'Clayton' in label and 'Clayton' in suburb or \
        'Craigieburn' in label and 'Craigieburn' in suburb or \
        'Croydon' in label and 'Croydon' in suburb or \
        'Doncaster East' in label and 'Doncaster East' in suburb or \
        'Endeavour Hills' in label and 'Endeavour Hills' in suburb or \
        'Epping' in label and 'Epping' in suburb or \
        'Essendon' in label and 'Essendon' in suburb or \
        'Ferntree Gully' in label and 'Ferntree Gully' in suburb or \
        'Glen Waverley' in label and 'Glen Waverley' in suburb or \
        'Glenroy' in label and 'Glenroy' in suburb or \
        'Hampton Park' in label and 'Hampton Park' in suburb or \
        'Hoppers Crossing' in label and 'Hoppers Crossing' in suburb or \
        'Kew' in label and 'Kew' in suburb or \
        'Lalor' in label and 'Lalor' in suburb or \
        'CBD' in label and 'CBD' in suburb or \
        'Mildura' in label and 'Mildura' in suburb or \
        'Mill Park' in label and 'Mill Park' in suburb or \
        'Mornington' in label and 'Mornington' in suburb or \
        'Mount Waverley' in label and 'Mount Waverley' in suburb or \
        'Narre Warren' in label and 'Narre Warren' in suburb or \
        'Noble Park' in label and 'Noble Park' in suburb or \
        'Northcote' in label and 'Northcote' in suburb or \
        'Pakenham' in label and 'Pakenham' in suburb or \
        'Preston' in label and 'Preston' in suburb or \
        'Reservoir' in label and 'Reservoir' in suburb or \
        'Richmond' in label and 'Richmond' in suburb or \
        'Rowville' in label and 'Rowville' in suburb or \
        'Roxburgh' in label and 'Roxburgh' in suburb or \
        'Shepparton' in label and 'Shepparton' in suburb or \
        'South Yarra' in label and 'South Yarra' in suburb or \
        'Southbank' in label and 'Southbank' in suburb or \
        'Albans' in label and 'Albans' in suburb or \
        'Surrey' in label and 'Surrey' in suburb or \
        'Traralgon' in label and 'Traralgon' in suburb or \
        'Warrnambool' in label and 'Warrnambool' in suburb or \
        'Werribee' in label and 'Werribee' in suburb or \
        'West Melbourne' in label and 'West Melbourne' in suburb or \
        label in suburb:
            found = True
            if suburb not in suburb_count:
                suburb_count[suburb] = 1
            else:
                suburb_count[suburb] += 1

            # population
            df_new.loc[df_new['Suburb'] == suburb, '2018_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2018'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2019_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2019'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2020_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2020'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2021_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2021'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2022_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2022'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2023_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2023'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2024_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2024'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2025_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2025'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2026_population'] += int(df_population.loc[df_population['Label'] == label, 'estimated_population_2026'].values[0])

            # income
            df_new.loc[df_new['Suburb'] == suburb, '2018_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2018'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2019_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2019'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2020_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2020'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2021_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2021'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2022_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2022'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2023_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2023'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2024_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2024'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2025_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2025'].values[0])
            df_new.loc[df_new['Suburb'] == suburb, '2026_income'] += float(df_income.loc[df_income['Label'] == label, 'median_income_2026'].values[0])

# average median income for suburbs with multiple SA2s
for suburb in suburb_count:
    if suburb_count[suburb] > 1:
        df_new.loc[df_new['Suburb'] == suburb, '2018_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2019_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2020_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2021_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2022_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2023_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2024_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2025_income'] /= suburb_count[suburb]
        df_new.loc[df_new['Suburb'] == suburb, '2026_income'] /= suburb_count[suburb]

In [309]:
df_new = df_new[['Suburb'] + sorted(df_new.columns.drop('Suburb'))]
df_new = df_new[(df_new != 0).all(axis=1)].reset_index(drop=True)
df_new

,Suburb,2018_income,2018_population,2018_weekly_rent,2019_income,2019_population,2019_weekly_rent,2020_income,2020_population,2020_weekly_rent,...,2022_weekly_rent,2023_income,2023_population,2023_weekly_rent,2024_income,2024_population,2025_income,2025_population,2026_income,2026_population
0,Albert Park-Middle Park-West St Kilda,64900.0,16728,737.375,65880.0,17081,720.875,68836.0,16955,702.750,...,684.375,77000.919533,16861,665.5,80239.921519,17665,83055.592588,18280,86331.495226,18706
1,Armadale,54967.0,88068,702.125,56826.0,91543,624.000,58437.0,94970,621.500,...,642.250,65683.276278,105094,620.5,68375.766886,109278,71182.773611,112809,73885.745371,115653
2,Carlton North,42734.0,29856,535.625,44478.0,30023,537.875,45719.0,29764,564.875,...,573.000,51984.610839,29907,555.0,54347.797245,33989,56697.186921,36749,58842.963958,38191
3,Carlton-Parkville,36430.0,29073,2418.875,38067.5,29320,2458.875,39423.5,29183,2663.875,...,3372.250,44963.336549,29379,3545.0,46995.465668,33560,49058.375695,36333,51037.141523,37753
4,Collingwood-Abbotsford,58927.0,19132,1167.375,61632.5,19423,1216.875,65350.5,19641,1247.750,...,1424.625,74098.375445,20493,1341.5,77227.321278,21871,80039.906008,22876,83265.756384,23537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Swan Hill,44315.0,11216,317.250,44968.0,11264,315.500,46302.0,11278,297.500,...,323.500,52329.444089,10948,309.5,54834.594779,10981,57008.054030,11116,59183.464765,11309
110,Torquay,51476.0,20996,538.875,53987.0,22149,571.500,56638.0,23346,617.875,...,569.000,63960.576298,26034,583.5,66465.777602,26513,69112.870416,27032,71952.240440,27607
111,Wangaratta,46215.0,19471,451.875,47975.0,19624,460.375,49282.0,19716,473.125,...,457.375,55697.461412,19969,449.0,58078.250055,20034,60562.584664,20227,62883.242556,20533
112,Warragul,46695.0,20501,398.875,48743.0,21283,420.625,50491.0,22099,465.875,...,465.250,57034.186426,24417,468.5,59355.658689,25003,61853.958165,25586,64319.407338,26163
113,Warrnambool,44578.0,35180,751.125,46288.0,35448,695.750,48432.5,35762,663.000,...,633.375,54895.909091,36238,643.5,57272.721163,36768,59554.682663,37419,61982.327673,38124

# Model

In [310]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

years = ['2018', '2019', '2020', '2021', '2022', '2023']
stacked_df = pd.DataFrame()

for year in years:
    temp_df = df_new[['Suburb', f'{year}_income', f'{year}_population', f'{year}_weekly_rent']].copy()
    temp_df.columns = ['Suburb', 'income', 'population', 'weekly_rent']
    temp_df['year'] = year
    stacked_df = pd.concat([stacked_df, temp_df])

X = stacked_df[['Suburb', 'income', 'population']]
y = stacked_df['weekly_rent']

# One-hot encode the suburb names
column_transformer = ColumnTransformer(transformers=[
    ('onehot', OneHotEncoder(), ['Suburb'])
], remainder='passthrough')

X_encoded = column_transformer.fit_transform(X)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Prepare features for 2024
X_future_2024 = df_new[['Suburb', '2024_income', '2024_population']]
X_future_2024.columns = ['Suburb', 'income', 'population']
X_future_2024_encoded = column_transformer.transform(X_future_2024)
predictions_2024 = model.predict(X_future_2024_encoded)
df_new.loc[:, '2024_predicted_rent'] = predictions_2024

# Prepare features for 2025
X_future_2025 = df_new[['Suburb', '2025_income', '2025_population']]
X_future_2025.columns = ['Suburb', 'income', 'population']
X_future_2025_encoded = column_transformer.transform(X_future_2025)
predictions_2025 = model.predict(X_future_2025_encoded)
df_new.loc[:, '2025_predicted_rent'] = predictions_2025

# Prepare features for 2026
X_future_2026 = df_new[['Suburb', '2026_income', '2026_population']]
X_future_2026.columns = ['Suburb', 'income', 'population']
X_future_2026_encoded = column_transformer.transform(X_future_2026)
predictions_2026 = model.predict(X_future_2026_encoded)
df_new.loc[:, '2026_predicted_rent'] = predictions_2026

# Display the predictions
print(df_new[['Suburb', '2024_predicted_rent', '2025_predicted_rent', '2026_predicted_rent']])

                                    Suburb  2024_predicted_rent  \
0    Albert Park-Middle Park-West St Kilda           711.629040
1                                 Armadale           599.570269
2                            Carlton North           551.792101
3                        Carlton-Parkville          2992.632787
4                   Collingwood-Abbotsford          1369.434645
..                                     ...                  ...
109                              Swan Hill           410.131718
110                                Torquay           778.379936
111                             Wangaratta           441.257972
112                               Warragul           332.129725
113                            Warrnambool           612.605115

     2025_predicted_rent  2026_predicted_rent
0             712.221262           712.920428
1             600.058445           600.548010
2             552.207535           552.624759
3            2992.985318          2993.366907
4            1370.012531          1370.692554
..                   ...                  ...
109           410.600765           411.068206
110           778.938774           779.537564
111           441.792752           442.287896
112           332.653886           333.171097
113           613.079736           613.584222

[114 rows x 4 columns]

#### Top 10 suburbs with highest rental price growth 2023-2026

In [311]:
df_new['rent_growth_2023-2026'] = (df_new['2026_predicted_rent'] - df_new['2023_weekly_rent']) / df_new['2023_weekly_rent']
top_10_growth = df_new[['Suburb', '2023_weekly_rent', '2026_predicted_rent', 'rent_growth_2023-2026']].sort_values(by='rent_growth_2023-2026', ascending=False).head(10)
top_10_growth

,Suburb,2023_weekly_rent,2026_predicted_rent,rent_growth_2023-2026
101,Echuca,380.5,688.493880,0.809445
90,North Geelong,572.0,795.287475,0.390363
110,Torquay,583.5,779.537564,0.335968
95,Bendigo,390.5,520.221964,0.332195
109,Swan Hill,309.5,411.068206,0.328169
69,Bayswater,515.5,676.432817,0.312188
100,Castlemaine,296.5,388.787032,0.311255
6,East Melbourne,527.0,689.257033,0.307888
74,Rowville,472.0,574.188951,0.216502
63,Ivanhoe-Ivanhoe East,619.0,747.000629,0.206786