In [53]:
import pandas as pd

In [54]:
property_df = pd.read_parquet('../../data/raw/property_details.parquet')

In [55]:
# Drop rows where price = None (Sometimes not given on website)
property_df = property_df[property_df['price'].notnull()]

# Drop nbn_details, property_features columns (often left empty on website)
property_df = property_df.drop(columns=['nbn_details', 'property_features'])

In [56]:
# View rows with None values
property_df[property_df.isnull().any(axis=1)]

,title,description,street_address,suburb,postcode,price,bedrooms,bathrooms,parking,primary_property_type,structured_features,video_count,photo_count,date_listed,days_listed,floor_plans_count,virtual_tour,nearby_schools,street_adress
0,"105A Neale Street, Flora Hill VIC 3550 - Apart...","View this 2 bedroom, 1 bathroom rental apartme...","105A Neale Street, Flora Hill VIC 3550",Flora Hill,3550,$375 per week,2.0,1.0,1.0,Apartment,"[{'category': 'Indoor', 'name': 'Heating', 'so...",0.0,7.0,2024-08-12T17:24:55.000,24.0,0.0,False,"[{'address': 'Kennington, VIC 3550', 'distance...",NaN
2,Collingwood VIC 3066 - 1 bed apartment for Ren...,"View this 1 bedroom, 1 bathroom rental apartme...",Collingwood VIC 3066,Collingwood,3066,$1260pw - Stay 1 mth+,1.0,1.0,1.0,Apartment,"[{'category': 'Indoor', 'name': 'Internal Laun...",0.0,4.0,2024-04-11T15:27:16.000,147.0,0.0,False,"[{'address': 'Collingwood, VIC 3066', 'distanc...",NaN
3,"3 Anderson Street, Malvern East VIC 3145 - Hou...","View this $1,500/week 5 bedroom, 3 bathroom re...","3 Anderson Street, Malvern East VIC 3145",Malvern East,3145,"$1,500.00",5.0,3.0,2.0,House,"[{'category': 'Other', 'name': 'Split System A...",0.0,11.0,2024-05-22T14:45:08.000,106.0,1.0,False,"[{'address': 'Malvern East, VIC 3145', 'distan...",NaN
4,"807/333 Exhibition Street, Melbourne VIC 3000 ...","View this 1 bedroom, 1 bathroom rental apartme...","807/333 Exhibition Street, Melbourne VIC 3000",Melbourne,3000,$540 per week,1.0,1.0,0.0,Apartment,"[{'category': 'Indoor', 'name': 'Intercom', 's...",0.0,12.0,2024-08-15T15:23:18.000,21.0,1.0,False,"[{'address': 'Melbourne, VIC 3000', 'distance'...",NaN
5,"59 Athletic Circuit, Clyde VIC 3978 - House Fo...","View this 3 bedroom, 2 bathroom rental house a...","59 Athletic Circuit, Clyde VIC 3978",Clyde,3978,$530 per week,3.0,2.0,1.0,House,"[{'category': 'Indoor', 'name': 'Air condition...",0.0,17.0,2024-09-02T14:25:07.000,3.0,1.0,False,"[{'address': 'Cranbourne East, VIC 3977', 'dis...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,"506/105 Batman Street, West Melbourne VIC 3003...","View this $740/week 2 bedroom, 2 bathroom rent...","506/105 Batman Street, West Melbourne VIC 3003",West Melbourne,3003,$740,2.0,2.0,1.0,Apartment,"[{'category': 'Outdoor', 'name': 'Secure Parki...",0.0,14.0,2024-08-12T14:55:48.000,24.0,1.0,False,"[{'address': 'West Melbourne, VIC 3006', 'dist...",NaN
14452,"412/17 Lynch Street, Hawthorn VIC 3122 - Apart...","View this 2 bedroom, 2 bathroom rental apartme...","412/17 Lynch Street, Hawthorn VIC 3122",Hawthorn,3122,$730 per week,2.0,2.0,1.0,Apartment,"[{'category': 'Indoor', 'name': 'Air condition...",0.0,16.0,2024-08-19T13:05:42.000,17.0,1.0,False,"[{'address': 'Hawthorn, VIC 3122', 'distance':...",NaN
14453,"1/6 Fish St, Lakes Entrance VIC 3909 - House F...","View this 2 bedroom, 1 bathroom rental house a...","1/6 Fish St, Lakes Entrance VIC 3909",Lakes Entrance,3909,$380 weekly,2.0,1.0,0.0,House,"[{'category': 'Indoor', 'name': 'Heating', 'so...",0.0,5.0,2024-07-10T16:18:22.000,57.0,0.0,False,"[{'address': 'Lakes Entrance, VIC 3909', 'dist...",NaN
14454,"58 Cyclamen Avenue, Altona North VIC 3025 - Ho...","View this 3 bedroom, 1 bathroom rental house a...","58 Cyclamen Avenue, Altona North VIC 3025",Altona North,3025,"$580 per week | $2,520 per calendar month",3.0,1.0,4.0,House,[],0.0,8.0,2024-08-23T15:13:55.000,13.0,1.0,False,"[{'address': 'Brooklyn, VIC 3012', 'distance':...",NaN
14456,"15 Stephens Road, Bass VIC 3991 - House For Re...","View this 4 bedroom, 2 bathroom rental house a...","15 Stephens Road, Bass VIC 3991",Bass,3991,$650 per week,4.0,2.0,0.0,House,"[{'category': 'Indoor', 'name': 'Gas', 'source...",0.0,13.0,2024-08-13T18:27:04.000,23.0,0.0,False,"[{'address': 'Corinella, VIC 3984', 'distance'...",NaN