# 2023 Dataset 
* School Dataset obtained from: https://discover.data.vic.gov.au/dataset/school-locations-2023

In [61]:
import pandas as pd
import matplotlib as plt

In [62]:
schools_df = pd.read_csv('../data/landing/dv346-schoollocations2023.csv', encoding='cp1252')
schools_df

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.66660,-38.61771
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.59039,-38.38628
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.47565,-37.08450
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.23472,-36.90137
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.21398,-37.74268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Independent,2,2244,Plenty River College,Secondary,O,"Unit 5, 9 Danaher Drive",NaN,SOUTH MORANG,VIC,...,"Unit 5, 9 Danaher Drive",NaN,SOUTH MORANG,VIC,3752,03 9435 9060,707,Whittlesea (C),145.08148,-37.64875
2298,Catholic,2,2245,Holy Cross Catholic Primary School,Primary,O,2-14 Carlingford Rd,NaN,MICKLEHAM,VIC,...,2-14 Carlingford Rd,NaN,MICKLEHAM,VIC,3064,03 9216 4200,327,Hume (C),144.90520,-37.53046
2299,Independent,2,2246,Sidrah Gardens School,Primary,O,434-442 Belgrave-Hallam Road,NaN,NARRE WARREN NORTH,VIC,...,434-442 Belgrave-Hallam Road,NaN,NARRE WARREN NORTH,VIC,3804,03 9796 9704,161,Casey (C),145.31589,-37.97324
2300,Independent,2,2247,Mountain District Community College,Secondary,O,13-15 The Avenue,NaN,FERNTREE GULLY,VIC,...,13-15 The Avenue,NaN,FERNTREE GULLY,VIC,3156,03 9758 7859,367,Knox (C),145.29327,-37.88319
2301,Catholic,2,2248,Mary Queen of Heaven Catholic Primary School,Primary,O,75 French Road,NaN,GREENVALE,VIC,...,75 French Road,NaN,GREENVALE,VIC,3059,03 9333 2572,327,Hume (C),144.88566,-37.62974

In [63]:
schools_df.columns

Index(['Education_Sector', 'Entity_Type', 'School_No', 'School_Name',
       'School_Type', 'School_Status', 'Address_Line_1', 'Address_Line_2',
       'Address_Town', 'Address_State', 'Address_Postcode',
       'Postal_Address_Line_1', 'Postal_Address_Line_2', 'Postal_Town',
       'Postal_State', 'Postal_Postcode', 'Full_Phone_No', 'LGA_ID',
       'LGA_Name', 'X', 'Y'],
      dtype='object')

In [64]:
# remove redundant features not useful for our analysis
schools_df = schools_df.drop(['Education_Sector', 'Entity_Type', 'School_No', 'School_Type', 'School_Status', 
                            'Address_Line_2', 'Address_State', 'Postal_Address_Line_1', 'Postal_Address_Line_2', 
                            'Postal_Town', 'Postal_State', 'Postal_Postcode', 'Full_Phone_No'], axis=1)
schools_df

,School_Name,Address_Line_1,Address_Town,Address_Postcode,LGA_ID,LGA_Name,X,Y
0,Alberton Primary School,21 Thomson Street,Alberton,3971,681,Wellington (S),146.66660,-38.61771
1,Allansford and District Primary School,Frank Street,Allansford,3277,673,Warrnambool (C),142.59039,-38.38628
2,Avoca Primary School,118 Barnett Street,Avoca,3467,599,Pyrenees (S),143.47565,-37.08450
3,Avenel Primary School,40 Anderson Street,Avenel,3664,643,Strathbogie (S),145.23472,-36.90137
4,Warrandyte Primary School,5-11 Forbes Street,Warrandyte,3113,421,Manningham (C),145.21398,-37.74268
...,...,...,...,...,...,...,...,...
2297,Plenty River College,"Unit 5, 9 Danaher Drive",SOUTH MORANG,3752,707,Whittlesea (C),145.08148,-37.64875
2298,Holy Cross Catholic Primary School,2-14 Carlingford Rd,MICKLEHAM,3064,327,Hume (C),144.90520,-37.53046
2299,Sidrah Gardens School,434-442 Belgrave-Hallam Road,NARRE WARREN NORTH,3804,161,Casey (C),145.31589,-37.97324
2300,Mountain District Community College,13-15 The Avenue,FERNTREE GULLY,3156,367,Knox (C),145.29327,-37.88319
2301,Mary Queen of Heaven Catholic Primary School,75 French Road,GREENVALE,3059,327,Hume (C),144.88566,-37.62974

In [65]:
# save our preprocessed schools to `curated` folder
schools_df.to_csv('../data/curated/preprocessed_school.csv', index=False)

In [66]:
# read our cleaned schools while ignoring the 
schools = pd.read_csv('../data/curated/preprocessed_school.csv', encoding='cp1252')
schools

,School_Name,Address_Line_1,Address_Town,Address_Postcode,LGA_ID,LGA_Name,X,Y
0,Alberton Primary School,21 Thomson Street,Alberton,3971,681,Wellington (S),146.66660,-38.61771
1,Allansford and District Primary School,Frank Street,Allansford,3277,673,Warrnambool (C),142.59039,-38.38628
2,Avoca Primary School,118 Barnett Street,Avoca,3467,599,Pyrenees (S),143.47565,-37.08450
3,Avenel Primary School,40 Anderson Street,Avenel,3664,643,Strathbogie (S),145.23472,-36.90137
4,Warrandyte Primary School,5-11 Forbes Street,Warrandyte,3113,421,Manningham (C),145.21398,-37.74268
...,...,...,...,...,...,...,...,...
2297,Plenty River College,"Unit 5, 9 Danaher Drive",SOUTH MORANG,3752,707,Whittlesea (C),145.08148,-37.64875
2298,Holy Cross Catholic Primary School,2-14 Carlingford Rd,MICKLEHAM,3064,327,Hume (C),144.90520,-37.53046
2299,Sidrah Gardens School,434-442 Belgrave-Hallam Road,NARRE WARREN NORTH,3804,161,Casey (C),145.31589,-37.97324
2300,Mountain District Community College,13-15 The Avenue,FERNTREE GULLY,3156,367,Knox (C),145.29327,-37.88319
2301,Mary Queen of Heaven Catholic Primary School,75 French Road,GREENVALE,3059,327,Hume (C),144.88566,-37.62974

In [67]:
# total schools by postcode in Victoria
schools.groupby('Address_Postcode')['School_Name'].count()

Address_Postcode
3000    4
3003    1
3004    4
3006    2
3008    1
       ..
3987    1
3988    1
3992    2
3995    5
3996    1
Name: School_Name, Length: 574, dtype: int64

In [68]:
# total schools by suburbs in Victoria
schools.groupby('Address_Town')['School_Name'].count()

Address_Town
ABBOTSFORD      1
ABERFELDIE      2
AIRPORT WEST    1
ALBION          1
ALEXANDRA       1
               ..
Yea             2
Yering          1
Yinnar          1
Yinnar South    1
Zeerust         1
Name: School_Name, Length: 1315, dtype: int64

In [69]:
print(f'Total schools in Victoria: {len(schools)}')

Total schools in Victoria: 2302