In [78]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [79]:
# display supermarkets' coordinates
supermarkets_df = pd.read_csv('../../data/curated/preprocessed_supermarkets.csv') 
supermarkets_df.head()

,Supermarket,Latitude,Longitude,Suburb,Postcode,Address
0,IGA,-37.277362,144.733861,No Suburb,No Postcode,NaN
1,Coles,-37.791434,145.171842,No Suburb,No Postcode,55 Tunstall Square
2,Foodworks,-37.788987,144.976090,No Suburb,No Postcode,799 Nicholson Street
3,Coles,-37.854786,145.182650,No Suburb,No Postcode,495-511 Burwood Highway
4,Coles,-37.868257,145.240404,No Suburb,No Postcode,NaN

In [80]:
# display properties' coordinates
properties_df = pd.read_csv('../../notebooks/Aarav/property_details_with_longlat.csv')
properties_df.head()

,title,description,street_address,suburb,postcode,price,bedrooms,bathrooms,parking,primary_property_type,structured_features,video_count,photo_count,date_listed,days_listed,floor_plans_count,virtual_tour,nearby_schools,latitude,longitude
0,"60 Little Windrock Lane, Craigieburn VIC 3064 ...","View this 2 bedroom, 1 bathroom rental house a...","60 Little Windrock Lane, Craigieburn VIC 3064",Craigieburn,3064,$450 Per Week,2.0,1.0,1.0,House,"[{'category': 'Indoor', 'name': 'Built in ward...",0.0,21.0,2024-08-22T16:07:26.000,14.0,0.0,False,"[{'address': 'Craigieburn, VIC 3064', 'distanc...",-37.588897,144.915516
1,"53 Were Street, Brighton VIC 3186 - House For ...","View this $1,500/week 4 bedroom, 2 bathroom re...","53 Were Street, Brighton VIC 3186",Brighton,3186,"$1,490.00",4.0,2.0,2.0,House,[],0.0,6.0,2024-06-02T18:11:41.000,95.0,2.0,True,"[{'address': 'Brighton, VIC 3186', 'distance':...",-37.925640,144.999904
2,"43 Tackle Drive, Point Cook VIC 3030 - Townhou...","View this 3 bedroom, 2 bathroom rental townhou...","43 Tackle Drive, Point Cook VIC 3030",Point Cook,3030,$550 per Week,3.0,2.0,2.0,Townhouse/Villa,"[{'category': 'Outdoor', 'name': 'Secure Parki...",0.0,17.0,2024-09-03T12:01:18.000,2.0,0.0,True,"[{'address': 'Point Cook, VIC 3030', 'distance...",-37.906257,144.720254
3,"3 Rostrevor Parade, Mont Albert VIC 3127 - Hou...","View this 5 bedroom, 2 bathroom rental house a...","3 Rostrevor Parade, Mont Albert VIC 3127",Mont Albert,3127,$800 weekly,5.0,2.0,2.0,House,[],0.0,8.0,2024-07-01T12:53:48.000,66.0,0.0,False,"[{'address': 'Mont Albert, VIC 3127', 'distanc...",-37.812918,145.106110
4,"48 Roberts Street, Frankston VIC 3199 - Studio...","View this 9 bedroom, 3 bathroom rental studio ...","48 Roberts Street, Frankston VIC 3199",Frankston,3199,$299 per week,9.0,3.0,4.0,Apartment,"[{'category': 'Indoor', 'name': 'Furnished', '...",0.0,20.0,2024-07-02T11:24:10.000,65.0,1.0,False,"[{'address': 'Frankston, VIC 3199', 'distance'...",-38.154913,145.140409

In [81]:
# convert supermarkets and properties into GeoDataFrames Point geometry 
supermarkets_gdf = gpd.GeoDataFrame(supermarkets_df, 
                                    geometry=gpd.points_from_xy(supermarkets_df['Longitude'], supermarkets_df['Latitude']), 
                                    crs="EPSG:4326")
properties_gdf = gpd.GeoDataFrame(properties_df, 
                                  geometry=gpd.points_from_xy(properties_df['longitude'], properties_df['latitude']), 
                                  crs="EPSG:4326")

In [82]:
supermarkets_gdf

,Supermarket,Latitude,Longitude,Suburb,Postcode,Address,geometry
0,IGA,-37.277362,144.733861,No Suburb,No Postcode,NaN,POINT (144.73386 -37.27736)
1,Coles,-37.791434,145.171842,No Suburb,No Postcode,55 Tunstall Square,POINT (145.17184 -37.79143)
2,Foodworks,-37.788987,144.976090,No Suburb,No Postcode,799 Nicholson Street,POINT (144.97609 -37.78899)
3,Coles,-37.854786,145.182650,No Suburb,No Postcode,495-511 Burwood Highway,POINT (145.18265 -37.85479)
4,Coles,-37.868257,145.240404,No Suburb,No Postcode,NaN,POINT (145.2404 -37.86826)
...,...,...,...,...,...,...,...
962,Foodworks,-38.197436,146.523759,No Suburb,No Postcode,NaN,POINT (146.52376 -38.19744)
963,Foodworks,-37.820479,145.105275,No Suburb,No Postcode,NaN,POINT (145.10528 -37.82048)
964,Morgan's IGA,-37.792190,144.789502,No Suburb,No Postcode,NaN,POINT (144.7895 -37.79219)
965,Pantre,-37.810497,144.962168,No Suburb,No Postcode,NaN,POINT (144.96217 -37.8105)
966,Hometown Grocer,-37.810336,144.963081,No Suburb,No Postcode,NaN,POINT (144.96308 -37.81034)

In [83]:
def closest_supermarket_distance(property_point, supermarkets_gdf):
    '''
    Calculates distance of each houses to the closest supermarket in Victoria.
    
    Parameters:
    - property_point : shapely.geometry.Point = location of each house property
    - supermarkets_gdf : geopandas.GeoDataFrame = supermarkets location in Victoria
    
    Returns:
    float = least distance from the property to the closest supermarket, measured 
    in meters (CRS units).
    '''
    # Calculate the distance between a property and all supermarkets
    distances = supermarkets_gdf.geometry.distance(property_point)
    # Return the minimum distance (in meters)
    return distances.min()

In [84]:
# convert to the same metres distance units using CRS 
supermarkets_gdf.to_crs(epsg=3857, inplace=True)
properties_gdf.to_crs(epsg=3857, inplace=True)

In [85]:
# Michele's openroute API key
api_key = '5b3ce3597851110001cf62482137f179f8c64044a4f02291f1598019'

In [86]:
# calculate supermarket's distance (in meters) to each property
properties_gdf['distance_to_closest_supermarket'] = properties_gdf.geometry.apply(
    lambda x: closest_supermarket_distance(x, supermarkets_gdf)
)

In [87]:
properties_gdf

,title,description,street_address,suburb,postcode,price,bedrooms,bathrooms,parking,primary_property_type,...,photo_count,date_listed,days_listed,floor_plans_count,virtual_tour,nearby_schools,latitude,longitude,geometry,distance_to_closest_supermarket
0,"60 Little Windrock Lane, Craigieburn VIC 3064 ...","View this 2 bedroom, 1 bathroom rental house a...","60 Little Windrock Lane, Craigieburn VIC 3064",Craigieburn,3064,$450 Per Week,2.0,1.0,1.0,House,...,21.0,2024-08-22T16:07:26.000,14.0,0.0,False,"[{'address': 'Craigieburn, VIC 3064', 'distanc...",-37.588897,144.915516,POINT (16131921.46 -4521512.425),491.097565
1,"53 Were Street, Brighton VIC 3186 - House For ...","View this $1,500/week 4 bedroom, 2 bathroom re...","53 Were Street, Brighton VIC 3186",Brighton,3186,"$1,490.00",4.0,2.0,2.0,House,...,6.0,2024-06-02T18:11:41.000,95.0,2.0,True,"[{'address': 'Brighton, VIC 3186', 'distance':...",-37.925640,144.999904,POINT (16141315.445 -4568926.558),1910.765178
2,"43 Tackle Drive, Point Cook VIC 3030 - Townhou...","View this 3 bedroom, 2 bathroom rental townhou...","43 Tackle Drive, Point Cook VIC 3030",Point Cook,3030,$550 per Week,3.0,2.0,2.0,Townhouse/Villa,...,17.0,2024-09-03T12:01:18.000,2.0,0.0,True,"[{'address': 'Point Cook, VIC 3030', 'distance...",-37.906257,144.720254,POINT (16110184.994 -4566191.508),1381.567610
3,"3 Rostrevor Parade, Mont Albert VIC 3127 - Hou...","View this 5 bedroom, 2 bathroom rental house a...","3 Rostrevor Parade, Mont Albert VIC 3127",Mont Albert,3127,$800 weekly,5.0,2.0,2.0,House,...,8.0,2024-07-01T12:53:48.000,66.0,0.0,False,"[{'address': 'Mont Albert, VIC 3127', 'distanc...",-37.812918,145.106110,POINT (16153138.221 -4553030.95),1069.539360
4,"48 Roberts Street, Frankston VIC 3199 - Studio...","View this 9 bedroom, 3 bathroom rental studio ...","48 Roberts Street, Frankston VIC 3199",Frankston,3199,$299 per week,9.0,3.0,4.0,Apartment,...,20.0,2024-07-02T11:24:10.000,65.0,1.0,False,"[{'address': 'Frankston, VIC 3199', 'distance'...",-38.154913,145.140409,POINT (16156956.429 -4601332.969),612.948151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11031,"16 Harris Avenue, Hoppers Crossing VIC 3029 - ...","View this 3 bedroom, 1 bathroom rental house a...","16 Harris Avenue, Hoppers Crossing VIC 3029",Hoppers Crossing,3029,$410 weekly,3.0,1.0,1.0,House,...,18.0,2024-09-03T12:16:29.000,2.0,0.0,False,"[{'address': 'Hoppers Crossing, VIC 3029', 'di...",-37.874458,144.698213,POINT (16107731.39 -4561706.059),1153.076355
11032,"11 Russell Street, Darley VIC 3340 - House For...","View this 4 bedroom, 2 bathroom rental house a...","11 Russell Street, Darley VIC 3340",Darley,3340,$530.00 per week,4.0,2.0,4.0,House,...,15.0,2024-06-26T11:09:37.000,71.0,1.0,False,"[{'address': 'Darley, VIC 3340', 'distance': 2...",-37.657460,144.437942,POINT (16078758.199 -4531148.801),456.578460
11033,"27 Grazing Rd, Weir Views VIC 3338 - House For...","View this 3 bedroom, 2 bathroom rental house a...","27 Grazing Rd, Weir Views VIC 3338",Weir Views,3338,$415 Per Week,3.0,2.0,2.0,House,...,8.0,2024-07-26T14:51:48.000,41.0,0.0,False,"[{'address': 'Melton, VIC 3338', 'distance': 9...",-37.722881,144.575340,POINT (16094053.263 -4540351.834),513.470356
11034,"17 Laming Court, Mount Martha VIC 3934 - House...","View this 4 bedroom, 2 bathroom rental house a...","17 Laming Court, Mount Martha VIC 3934",Mount Martha,3934,$700 per week,4.0,2.0,2.0,House,...,6.0,2024-09-02T10:21:37.000,3.0,0.0,False,"[{'address': 'Mount Martha, VIC 3934', 'distan...",-38.251174,145.044765,POINT (16146309.404 -4614969.25),904.699313
11035,"2/110 Chute Street, Mordialloc VIC 3195 - Hous...","View this 3 bedroom, 1 bathroom rental house a...","110 Chute Street, Mordialloc VIC 3195",Mordialloc,3195,$580 per week,3.0,1.0,1.0,House,...,14.0,2024-08-12T11:27:32.000,24.0,0.0,False,"[{'address': 'Mordialloc, VIC 3195', 'distance...",-37.999773,145.094164,POINT (16151808.409 -4579393.731),1147.225572

In [88]:
# save into `data/curated` directory 
properties_gdf.to_csv("../../data/curated/property_details_with_distance_to_closest_supermarkets.csv", index=False)